//- code here
.phat-part
    .container
        section(class='splide')
            .splide__track 
                ul(class = 'splide__list')
                    li(class = 'splide__slide') 
                        .card_block 
                            .card_img
                                img(src="../img/cooler.jpg", alt="", srcset="")
                            .card_infor
                                p(class = 'text2') 
                    li(class = 'splide__slide') 
                        .card_block 
                            .card_img
                                img(src="../img/xtreme (1).jpg", alt="", srcset="")
                            .card_infor
                                p(class = 'text2') 
                    li(class = 'splide__slide') 
                        .card_block 
                            .card_img
                                img(src="../img/08.png", alt="", srcset="")
                            .card_infor
                                p(class = 'text2') 
                    li(class = 'splide__slide') 
                        .card_block 
                            .card_img
                                img(src="../img/hero.jpg", alt="", srcset="")
                            .card_infor
                                p(class = 'text2') 
                    li(class = 'splide__slide') 
                        .card_block 
                            .card_img
                                img(src="../img/329711.2e21e54c385b266b767a64795617c9f2.1600.jpg", alt="", srcset="")
                            .card_infor
                                p(class = 'text2') 
    .container    
        .card-carousel 
            .card-block2 
                .card-img
                    img(src="../img/mouse.png", alt="", srcset="")
                .card-button 
                    p MOUSE 
            .card-block2 
                .card-img
                    img(src="../img/main22.png", alt="", srcset="")
                .card-button 
                    p MAIN 
            .card-block2 
                .card-img
                    img(src="../img/rtx1.png", alt="", srcset="")
                .card-button 
                    p VGA     
            .card-block2 
                .card-img
                    img(src="../img/monitor.png", alt="", srcset="")
                .card-button 
                    p SCREEN
            .card-block2 
                .card-img
                    img(src="../img/tainghe.png", alt="", srcset="")
                .card-button 
                    p HEADPHONE
            .card-block2 
                .card-img
                    img(src="../img/tan.png", alt="", srcset="")
                .card-button 
                    p COOLER   


script(type="module" src="../js/phat.js") 