//- code here
.tung-part
    .card-carousel-1
        .btn-preOrder 
            //- .btn-preOrder-title PRE ORDER  
            a(href="#" class="btn2")  GET NOW  
                i(class="bi bi-fast-forward")
        img(class="anh"  src="../img/demo.png" , alt="")          
    a(href="#").btn Help 
    script(type="module" src="../js/tung.js") 
