//- code here
.vy-part   
    .container 
        .title-news
            p NEWS
        .card-list
            .card__block 
                .card__img 
                    img(src="../img/z8.jpg", alt="")
                .card__infor 
                    p AUG 15, 2022
                .card__controller
                    a.btn-card__controller(href="#") How to maximize your ROG laptop's performance with the MUX Switch
            .card__block 
                .card__img 
                    img(src="../img/z9.jpg",alt="")
                .card__infor 
                    p MAY 10, 2022
                .card__controller
                    a.btn-card__controller(href="#") ASUS and ROG bring AMD's rejuvenated Radeon RX 6000 cards to your next PC
            .card__block 
                .card__img 
                    img(src="../img/z10.jpg", alt="")
                .card__infor 
                    p MAR 21, 2022
                .card__controller
                    a.btn-card__controller(href="#") High resolution vs. high refresh rate: how to pick a display for your gaming laptop
    .container1    
        .column
            .column-left 
                .container
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-discord"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-youtube"></i>
            .column-mid1 
                ul VIPER
                    li About Us 
                    li Gift Cards 
                    li Where to Buy 
                    li Blog 
                    li Buyers' Showcase 
                    li Get 10% Off 
                    li Contact Us 
                    li Careers 
                    li Influence Recruit
                    li Different Layout Survey
            .column-mid2 
                ul HELP - SUPPORT
                    li User Manual 
                    li Firmwares 
                    li Help Center 
                    li Order Tracking 
                    li Shipping Policy 
                    li Warranty 
                    li Privacy Policy 
                    li Terms of Service 
                    li Refund Policy 
            .column-right 
                p BE THE FIRST TO KNOW
                p Get the latest product news, special offers and interesting behind-the-scenes stories from us 
                .footer-newletter
                    .btn-footer-newletter
                        .icon-footer-newletter 
                            button(name='button' type='submit') <i class="bi bi-envelope"></i>
                        .form-footer-newletter
                            input(type='text' placeholder='Enter Email')
        .note 
            p &copy; 2022 Viper | Wireless Mechanical for Mac, Windows and Android