.hieu-part{
    // margin-top: 10rem;
    background-color: gainsboro;
    .container{
        max-width: 1320px;
        margin: 0 auto;
        padding:0rem 0.5rem;
        display: block;
        width: 100%;
        height: auto;
        justify-content: center;
        
        
    }
    .content{
        display: flex;
        // padding-left: 80px;
        // padding-bottom: 80px;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        img{
            width: 50%;
            height: 50%;
        }
    }
    .button{
        display: block;
        width: 40%;
        height: auto;
        padding-top: 10%;
        font-size: 15px;
        font-weight: 450;
        p{
            padding: 3rem 0rem 3rem 0rem;
        }
        .btn{
            display: block;
            padding: 1rem 2rem;
            margin: 0;
            width: 15rem;
            min-width: 90px;
            // line-height: 1.8;
            font-size: 16px;
            text-decoration: none;
            text-align: center;
            white-space: normal;
            border: 1px solid transparent;
            border-radius: 0;
            background-color: black;
            color: azure;
            transition: width 0.3s, background 0.3s, opacity 1s;
            position: relative;
            &:hover{
                border-radius: 5px;
                background: black; 
                outline: none;
                // border: 2px solid #111;
                width: 20rem;
                overflow: hidden;
            }  
        }
    }
    @media (max-width: 900px ){
        .content{
            display: block !important;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .btn{
            // height: 30px !important;
            width: 70px !important;
            font-size: 10px !important;
            height: 30px !important;
            }
    }  
}