.tung-part{
    height: 100vh;
    width: 100%;
    .btn{
        background-color: #fe3f40;
        padding: 1rem 2rem;
        border: none;
        color: #fafafa;
        border-radius: 20px;
        transition: 0.3s;
        position: fixed;
        right : 2rem;
        bottom: 2rem;
        text-decoration: none;
    }
    .btn:hover{
        background-color: #03a4ed;
        transition: 0.3s;
    }
    @keyframes anh {
        0%{
            opacity:0;
            transform:scale(1.25);
        }
        to{
            opacity:1;
            transform:scale(1);
        }
    }
    .card-carousel-1{
        position: relative;
        height: 100%;
        .btn-preOrder{
            position: absolute;
            height: 10%;
            width: 10%;
            right: 10%;
            bottom: 2rem;
            z-index: 999;
            .btn2{
                display: block;
                padding: 1rem 2rem;
                margin: 0;
                width: 15rem;
                min-width: 90px;
                // line-height: 1.8;
                font-size: 16px;
                text-decoration: none;
                text-align: center;
                white-space: normal;
                border: 1px solid transparent;
                border-radius: 0;
                background-color: black;
                color: azure;
                transition: width 0.3s, background 0.3s, opacity 1s;
                position: relative;
                i{
                    &::before{
                        display: none;
                        width: 0;
                        margin-left: 0;
                        transition: width 0.3s, margin-left 0.3s;
                    }
                }
            }
            .btn2:hover{
                border-radius: 5px;
                background: black; 
                outline: none;
                // border: 2px solid #111;
                width: 20rem;
                overflow: hidden;
                i{
                    &::before{
                        margin-left: 3rem;
                        width: auto;
                    }
                }
            }
        }
        .anh{
            height: 100%;
            width: 100%;
            background-size: cover;
            animation: anh 1s ;
        }
    }
    @media (max-width: 900px ){
        .btn-preOrder{
            left: 0;
            a{
                height: 30px !important;
                width: 70px !important;
                font-size: 10px !important;
            }
        }
    }
}
